<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat ab nulla, facilis maxime inventore voluptas
            quod voluptatem natus voluptate harum earum ratione asperiores, nostrum cum eveniet neque nemo saepe? Nobis
            dicta eos ea perspiciatis exercitationem iste. Neque aspernatur odit assumenda, nisi laudantium illo
            obcaecati vel quae, maiores doloremque, consectetur molestiae.</p>
    </div>
</div>