<div class="jumbotron mt-4">
    <h1 class="display-4">Aplicacion de notas MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui minus incidunt perspiciatis dolores esse, veritatis
        natus, odio soluta nesciunt officia magni. Consequatur eligendi porro explicabo rerum quia totam veritatis eius.
    </p>
    <a href="http://localhost:3000/about" class="btn btn-primary btn-lg">Sobre nosotros</a>
</div>